.flex {
  display: flex;

}

.el-row {
  @extend .flex;
  position: relative;
  box-sizing: border-box;
}

// 属性选择器 *：所有位置 ^：开头位置 $：结尾位置
[class*=el-col-] {
  box-sizing: border-box;
}

@for $i from 0 through 24 {
  .el-col-#{$i} {
    max-width: ($i / 24) * 100%;
    flex: ($i / 24) * 100%;
  }
}


