.el-row .el-col-24 {
  max-width: 100%;
  flex: 100%;
}
.el-row .el-col-23 {
  max-width: 95.83333333%;
  flex: 95.83333333%;
}
.el-row .el-col-22 {
  max-width: 91.66666667%;
  flex: 91.66666667%;
}
.el-row .el-col-21 {
  max-width: 87.5%;
  flex: 87.5%;
}
.el-row .el-col-20 {
  max-width: 83.33333333%;
  flex: 83.33333333%;
}
.el-row .el-col-19 {
  max-width: 79.16666667%;
  flex: 79.16666667%;
}
.el-row .el-col-18 {
  max-width: 75%;
  flex: 75%;
}
.el-row .el-col-17 {
  max-width: 70.83333333%;
  flex: 70.83333333%;
}
.el-row .el-col-16 {
  max-width: 66.66666667%;
  flex: 66.66666667%;
}
.el-row .el-col-15 {
  max-width: 62.5%;
  flex: 62.5%;
}
.el-row .el-col-14 {
  max-width: 58.33333333%;
  flex: 58.33333333%;
}
.el-row .el-col-13 {
  max-width: 54.16666667%;
  flex: 54.16666667%;
}
.el-row .el-col-12 {
  max-width: 50%;
  flex: 50%;
}
.el-row .el-col-11 {
  max-width: 45.83333333%;
  flex: 45.83333333%;
}
.el-row .el-col-10 {
  max-width: 41.66666667%;
  flex: 41.66666667%;
}
.el-row .el-col-9 {
  max-width: 37.5%;
  flex: 37.5%;
}
.el-row .el-col-8 {
  max-width: 33.33333333%;
  flex: 33.33333333%;
}
.el-row .el-col-7 {
  max-width: 29.16666667%;
  flex: 29.16666667%;
}
.el-row .el-col-6 {
  max-width: 25%;
  flex: 25%;
}
.el-row .el-col-5 {
  max-width: 20.83333333%;
  flex: 20.83333333%;
}
.el-row .el-col-4 {
  max-width: 16.66666667%;
  flex: 16.66666667%;
}
.el-row .el-col-3 {
  max-width: 12.5%;
  flex: 12.5%;
}
.el-row .el-col-2 {
  max-width: 8.33333333%;
  flex: 8.33333333%;
}
.el-row .el-col-1 {
  max-width: 4.16666667%;
  flex: 4.16666667%;
}
